# Build and Release Folders
out/
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Eclipse / Flash Builder
.settings/
.flexProperties
.FlexUnitSettings
.actionScriptProperties

# IntelliJ IDEA
*.iws
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries

# Executables
*.swf
*.air
*.ipa
*.apk

# macOS Folders
.DS_Store